<a href="https://colab.research.google.com/github/Sulbae/ML-Supervised-Unsupervised/blob/main/%5BKlasifikasi%5D_Submission_Akhir_BMLP_Anggun-Sulis-Setyawan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Penting**
- Jangan mengubah atau menambahkan cell text yang sudah disediakan, Anda hanya perlu mengerjakan cell code yang sudah disediakan.
- Pastikan seluruh kriteria memiliki output yang sesuai, karena jika tidak ada output dianggap tidak selesai.
- Misal, Anda menggunakan df = df.dropna() silakan gunakan df.isnull().sum() sebagai tanda sudah berhasil. Silakan sesuaikan seluruh output dengan perintah yang sudah disediakan.
- Pastikan Anda melakukan Run All sebelum mengirimkan submission untuk memastikan seluruh cell berjalan dengan baik.
- Pastikan Anda menggunakan variabel df dari awal sampai akhir dan tidak diperbolehkan mengganti nama variabel tersebut.
- Hapus simbol pagar (#) pada kode yang bertipe komentar jika Anda menerapkan kriteria tambahan
- Biarkan simbol pagar (#) jika Anda tidak menerapkan kriteria tambahan
- Pastikan Anda mengerjakan sesuai section yang sudah diberikan tanpa mengubah judul atau header yang disediakan.

# **1. Import Library**
Pada tahap ini, Anda perlu mengimpor beberapa pustaka (library) Python yang dibutuhkan untuk analisis data dan pembangunan model machine learning.

In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

import joblib # for saving model

# **2. Memuat Dataset dari Hasil Clustering**
Memuat dataset hasil clustering dari file CSV ke dalam variabel DataFrame.

In [46]:
# Gunakan dataset hasil clustering yang memiliki fitur Target
# Silakan gunakan dataset data_clustering jika tidak menerapkan Interpretasi Hasil Clustering [Advanced]
# Silakan gunakan dataset data_clustering_inverse jika menerapkan Interpretasi Hasil Clustering [Advanced]
# Lengkapi kode berikut
df = pd.read_csv("data_clustering_inverse.csv")

In [47]:
# Tampilkan 5 baris pertama dengan function head
df.head()

,TransactionAmount,TransactionType,Channel,CustomerAge,CustomerOccupation,TransactionDuration,AccountBalance,Target
0,14.09,Debit,ATM,70.0,Doctor,81.0,5112.21,3
1,376.24,Debit,ATM,68.0,Doctor,141.0,13758.91,3
2,126.29,Debit,Online,19.0,Student,56.0,1122.35,2
3,184.50,Debit,Online,26.0,Student,25.0,8569.06,2
4,92.15,Debit,ATM,18.0,Student,172.0,781.68,2

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2135 entries, 0 to 2134
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   TransactionAmount    2135 non-null   float64
 1   TransactionType      2135 non-null   object
 2   Channel              2135 non-null   object
 3   CustomerAge          2135 non-null   float64
 4   CustomerOccupation   2135 non-null   object
 5   TransactionDuration  2135 non-null   float64
 6   AccountBalance       2135 non-null   float64
 7   Target               2135 non-null   int64
dtypes: float64(4), int64(1), object(3)
memory usage: 133.6+ KB

In [49]:
# Encode kolom kategorikal
cat_col = df.select_dtypes(include=['object']).columns

le = LabelEncoder()
for col in cat_col:
    df[col] = le.fit_transform(df[col])

df.head()

,TransactionAmount,TransactionType,Channel,CustomerAge,CustomerOccupation,TransactionDuration,AccountBalance,Target
0,14.09,1,0,70.0,0,81.0,5112.21,3
1,376.24,1,0,68.0,0,141.0,13758.91,3
2,126.29,1,2,19.0,3,56.0,1122.35,2
3,184.50,1,2,26.0,3,25.0,8569.06,2
4,92.15,1,0,18.0,3,172.0,781.68,2

# **3. Data Splitting**
Tahap Data Splitting bertujuan untuk memisahkan dataset menjadi dua bagian: data latih (training set) dan data uji (test set).

In [50]:
# Menggunakan train_test_split() untuk melakukan pembagian dataset.
X = df.drop(columns=['Target'])
y = df['Target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# **4. Membangun Model Klasifikasi**
Setelah memilih algoritma klasifikasi yang sesuai, langkah selanjutnya adalah melatih model menggunakan data latih.

Berikut adalah rekomendasi tahapannya.
1. Menggunakan algoritma klasifikasi yaitu Decision Tree.
2. Latih model menggunakan data yang sudah dipisah.

In [51]:
# Buatlah model klasifikasi menggunakan Decision Tree
dt_classifier = DecisionTreeClassifier(random_state=42)
dt_classifier.fit(X_train, y_train)
y_pred = dt_classifier.predict(X_test)

In [52]:
# Menyimpan Model
# import joblib
joblib.dump(dt_classifier, 'decision_tree_model.h5')

['decision_tree_model.h5']

# **5. Memenuhi Kriteria Skilled dan Advanced dalam Membangun Model Klasifikasi**

**Biarkan kosong jika tidak menerapkan kriteria skilled atau advanced**

In [53]:
# Melatih model menggunakan algoritma klasifikasi scikit-learn selain Decision Tree.
# Random Forest Classifier
rf_classifier = RandomForestClassifier(random_state=42)
rf_classifier.fit(X_train, y_train)
y_pred_rf = rf_classifier.predict(X_test)

In [54]:
# Menampilkan hasil evaluasi akurasi, presisi, recall, dan F1-Score pada seluruh algoritma yang sudah dibuat.

# Evaluasi model Decision Tree
print("Decision Tree Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

# Evaluasi model Random Forest
print("Random Forest Classifier Accuracy:", accuracy_score(y_test, y_pred_rf))
print(classification_report(y_test, y_pred_rf))

Decision Tree Accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       101
           1       1.00      1.00      1.00        89
           2       1.00      1.00      1.00       112
           3       1.00      1.00      1.00        42
           4       1.00      1.00      1.00        83

    accuracy                           1.00       427
   macro avg       1.00      1.00      1.00       427
weighted avg       1.00      1.00      1.00       427

Random Forest Classifier Accuracy: 0.9976580796252927
              precision    recall  f1-score   support

           0       0.99      1.00      1.00       101
           1       1.00      1.00      1.00        89
           2       1.00      1.00      1.00       112
           3       1.00      0.98      0.99        42
           4       1.00      1.00      1.00        83

    accuracy                           1.00       427
   macro avg       1.00      1.00      1.00       427
weighted avg       1.00      1.00      1.00       427

In [55]:
# Menyimpan Model Selain Decision Tree
# Model ini bisa lebih dari satu
# import joblib
joblib.dump(rf_classifier, 'explore_randomforest_classification.h5')

['explore_randomforest_classification.h5']

Hyperparameter Tuning Model

Pilih salah satu algoritma yang ingin Anda tuning

In [56]:
# Lakukan Hyperparameter Tuning dan Latih ulang.
# Lakukan dalam satu cell ini saja.
rf_tuned = RandomForestClassifier(n_estimators=300, max_depth=10, min_samples_split=5, random_state=42)
rf_tuned.fit(X_train, y_train)
y_pred_tuned = rf_tuned.predict(X_test)

In [57]:
# Menampilkan hasil evaluasi akurasi, presisi, recall, dan F1-Score pada algoritma yang sudah dituning.

print("Tuned Random Forest Classifier Accuracy:", accuracy_score(y_test, y_pred_tuned))
print(classification_report(y_test, y_pred_tuned))

# Menampilkan dataframe evaluasi gabungan.
eval_model = pd.DataFrame({
    'Model': ['Decision Tree', 'Random Forest', 'Tuned Random Forest'],
    'Accuracy': [accuracy_score(y_test, y_pred), accuracy_score(y_test, y_pred_rf), accuracy_score(y_test, y_pred_tuned)],
    'Precision': [classification_report(y_test, y_pred, output_dict=True)['weighted avg']['precision'],
                  classification_report(y_test, y_pred_rf, output_dict=True)['weighted avg']['precision'],
                  classification_report(y_test, y_pred_tuned, output_dict=True)['weighted avg']['precision']],
    'Recall': [classification_report(y_test, y_pred, output_dict=True)['weighted avg']['recall'],
               classification_report(y_test, y_pred_rf, output_dict=True)['weighted avg']['recall'],
               classification_report(y_test, y_pred_tuned, output_dict=True)['weighted avg']['recall']],
    'F1-Score': [classification_report(y_test, y_pred, output_dict=True)['weighted avg']['f1-score'],
                 classification_report(y_test, y_pred_rf, output_dict=True)['weighted avg']['f1-score'],
                 classification_report(y_test, y_pred_tuned, output_dict=True)['weighted avg']['f1-score']]
})

eval_model

Tuned Random Forest Classifier Accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       101
           1       1.00      1.00      1.00        89
           2       1.00      1.00      1.00       112
           3       1.00      1.00      1.00        42
           4       1.00      1.00      1.00        83

    accuracy                           1.00       427
   macro avg       1.00      1.00      1.00       427
weighted avg       1.00      1.00      1.00       427

                 Model  Accuracy  Precision    Recall  F1-Score
0        Decision Tree  1.000000   1.000000  1.000000   1.00000
1        Random Forest  0.997658   0.997681  0.997658   0.99765
2  Tuned Random Forest  1.000000   1.000000  1.000000   1.00000

In [58]:
# Menyimpan Model hasil tuning
# import joblib
joblib.dump(rf_tuned, 'tuning_classification.h5')

['tuning_classification.h5']

End of Code